      <div class="themHelp">
            <div class="wrapper">
                <div class="text">Новости</div>
            </div>
        </div>
<%= render 'post' %>
<div class="container">
    <div class="wrapper">
<%= paginate @posthhs %>
    </div>
</div>
