<div class="aboutPage">
            <div class="childImage">
                <div class="line"></div>
                <div class="wrapper">
                    <div class="tagline">
                        Уже сейчас 1.5 миллиарда детей нуждаются
                        В Вашей поддержке
                    </div>
                </div>
            </div>
        </div>

        <div class="textAboutPage">
            <div class="wrapper">
                <div class="headline">
                    Идея создания Благотворительного Фонда пришла к руководителю Татьяне Осадчей в 2015 году
                </div>
                <div class="frame-outer">
                    <div class="frame-inner">
                        <div class="text">
                            Тогда, в мае, у меня родился долгожданный малыш, главный врач родильного дома поздравил
                            меня при выписке, с рождением ребенка со словами: <br> <strong>«Да, не всем малышам так везет, родиться
                            здоровыми, да еще и у любящих и состоятельных родителей». </strong><br>Эти слова не давали мне покоя, и
                            через 2 недели я поехала к этому главному врачу. Мы долго разговаривали, я прибывала в ужасе
                            от того,<br> скольких детей оставляют в родильных отделениях, скольким детям нужна
                            квалифицированная медицинская помощь,<br> которую не в состоянии оплатить их родители.
                            После этого разговора я была четко уверена, что стану помогать мамам, которым тяжело,<br> которым
                            нужна поддержка и помощь. Вокруг меня появлялись такие же люди, которым не все равно,
                            которые также - бы хотели кому-то помочь. <br>
                            С 2015 года мы - группа неравнодушных людей стали помогать детям и мамам в трудной
                            жизненной ситуации! За это время нам удалось отправить некоторых деток на бесплатное
                            лечение. <br> Многие дети получили квалифицированное обследование и лечение в ведущих
                            Российских детских клиниках. <br>Мы старались не остаться равнодушными ко всем мамам,
                            нуждающимся в какой-либо помощи и поддержке. Мы помогали мамам поскорее найти своих деток
                            в домах малютки, многие малыши в семьях со своими любимыми родителями! <br>С каждым годом
                            детей, нуждающихся в помощи становится все больше, проблемы, с которыми обращаются к нам
                            мамы- все серьезнее. <br>В связи с большим объемом работы и «чудесами Российской
                            действительности», мы были вынуждены принять решение и преобразовать группу помощи в
                            Благотворительный Фонд. <br>
                            Мы хотим сказать <strong>СПАСИБО ВАМ</strong>, наши дорогие люди! <br> Сейчас в новом статусе фонда планов и целей очень много! <strong>Мы очень надеемся на
                            Вашу поддержку!</strong> <br> Мы мечтаем сплотить жителей нашей Республики, ведь только <strong>ВМЕСТЕ</strong> можно
                            свернуть горы!!!
                        </div>
                        </div>
                    </div>


            </div>
        </div>
     <div class="aimAbout">
         <div class="wrapper">
             <div class="headline">Цели</div>
             <div class="text">
                 Целью создания фонда является помощь в оказании медицинской, <br>социальной,
                 психологической и юридической поддержки мамам и детям, попавшим в трудную <br>
                 жизненную ситуацию. Всесторонняя поддержка и помощь детям из многодетных <br> и
                 малообеспеченных семей, детям-сиротам, одиноким мамам с детьми,<br> мамам с больным
                 ребенком, семьям с приемными детьми.
             </div>
         </div>
     </div>
<div class="tasks">
    <div class="wrapper">
        <div class="headline">
            Задачи
        </div>
        <div class="container">
            <div class="item">
                <div class="text">
                    Формирование системы <br>
                    ранней диагностики <br>
                    и своевременного лечения <br>
                    различных заболеваний у детей
                </div>
            </div>
            <div class="item">
                <div class="text">
                    Снижение показателей <br>
                    детской смертности при <br>
                    выявлении болезни <br>
                    на ранней стадии и <br>
                    получение своевременной <br>
                    медицинской помощи.
                </div>
            </div>
            <div class="item">
            <div class="text">
                Социальное, медицинское <br>
                сопровождение детей в семьях, <br>
                находящихся в трудной <br>
                жизненной ситуации
            </div>
        </div>
        </div>
    </div>
</div>