 <div class="themHelp">
            <div class="wrapper">
                <div class="text">Контакты</div>
            </div>
        </div>

        <div class="contactsCard">
            <div class="wrapper">
                <div class="content">
                    <div class="name">Вместе поможем</div>
                    <div class="container">
                        <div class="left">
                            <div class="topBlock">
                               <div class="item">
                                   <span class="bold">ИНН</span> 0273916650 <span class="bold">КПП</span> 027301001
                               </div>
                                <div class="item">
                                    <span class="bold">ОГРН </span> 1170280068606
                                </div>
                            </div>
                            <div class="downBlock">
                                <div class="item">
                                    <span class="bold">Банк получателя: <br></span> Башкирское отделение <br>
                                    №8598 ПАО Сбербанк
                                </div>
                                <div class="item">
                                    <span class="bold">БИК</span> 048073601
                                </div>
                                <div class="item">
                                    <span class="bold">К/счет</span> 30101810300000000601 в <br>
                                    ГРКЦ Национального Банка РБ
                                </div>
                                <div class="item">
                                    <span class="bold">Р/с</span> 40703810406000001414
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="item">
                                <span class="bold">Адрес:</span> 450038 г.Уфа ул. Кольцевая 156-5
                            </div>
                            <div class="item">
                                <span class="bold">Телефон:</span> 89874759357, 89374709110
                            </div>
                            <div class="item">
                                <span class="bold">E-mail:</span> <a href = "mailto:bf-vmeste@bk.ru">bf-vmeste@bk.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
