<div class="themHelp">
            <div class="wrapper">
                <div class="text">Не оставляй меня мама</div>
            </div>
        </div>

        <div class="ProgrammContent">
            <div class="wrapper">
                <p>Просматривая базу детей-сирот, мы ужасаемся количеству деток, находящихся в домах ребенка.</p>
                <p>Мы осуждающе  качаем головой с вопросом: «Как же можно оставить своего малыша?» Со всей ответственностью можем заявить, что далеко не все мамы ведут аморальный образ жизни, оставляя своих детей в родильных домах. Исходя из опыта нашей работы, мы выявили основные причины отказов.</p>
                <p>Есть мамы, которые будучи в положении, попали в сложную жизненную ситуацию, оставшись один на один со своей проблемой, видят единственный выход - оставить своего малыша. Некоторые мамы после выписки из родильного дома остаются в буквальном смысле «на улице» с новорожденным ребенком. Таких ситуаций в нашей практике было много. У других есть старшие дети и прокормить «еще один рот» им кажется невозможным. Со словами: «Хоть в детском доме его кормить будут и одевать» мамы подписывают отказ.  Как бы банально это ни звучало, но многие мамы говорят: « мне даже выписать ребенка не в чем», нет детских вещей, средств гигиены  ни говоря уже о кроватках и колясках.</p>
                <p>Так же главной причиной отказов является то, что в родильных домах часть женщин слышат от врачей о появлении на свет ребенка с пороками развития или генетической патологией и принимают поспешные решения,  поддавшись своим  «послеродовым» эмоциям, уговорам родственников и знакомых, пишут отказ. Специалисты утверждают, что во многих случаях диагнозы, поставленные новорожденному, снимаются в первые годы его жизни!</p>
                <p>Из-за недостаточной профессиональной психологической и социальной поддержки мам новорожденных,  появлению "отказников" способствует и недостаток информированности мам о возможности помощи их новорожденным малышам.</p>
                <div class="mainText">
                    <p class="aim"> Цель программы- помочь маме с ребенком в любой сложной для нее ситуации.</p>
                    <ul>
                        <li>помочь маме еще на стадии беременности социально адаптироваться</li>
                        <li>помочь маме разобраться и  найти выходы из сложившейся трудной жизненной ситуации</li>
                        <li>своевременная всесторонняя поддержка и помощь маме с больным новорожденным малышом</li>
                        <li>психологическая и юридическая поддержка мамам и детям, попавшим в трудную жизненную ситуацию</li>
                    </ul>
                </div>
                <div class="mainText">
                    <p class="aim"> Чем вы можете помочь работе данной программы:</p>
                    <ul>
                        <li>Стать постоянным попечителем конкретной мамы с малышом</li>
                        <li>Помочь в сборе вещей, средств гигиены для новорожденных малышей</li>
                        <li>Оказать юридическую помощь маме в решении вопросов жилья, документов и т.д.</li>
                        <li>Помочь продуктами питания; лекарствами</li>
                        <li>Поддержать программу, перечислив пожертвование на счет фонда</li>
                    </ul>
                </div>
                <div class="btn">
                    <a href="">Получить помощь</a>
                </div>
            </div>
        </div>