 <div class="themHelp">
            <div class="wrapper">
                <div class="text">Первое приданное</div>
            </div>
        </div>

        <div class="ProgrammContent">
            <div class="wrapper">
                <p>Мы все больше и больше понимаем, как важна элементарная поддержка и помощь мамам,
                    которые оказались один на один со своими, как им кажется, нерешаемыми проблемами. А
                    если эта мама еще и с новорожденным малышом, которая стоит перед сложным выбором
                    отказаться или забрать ребенка из родильного дома!</p>
                <p>Мы поддерживаем мам в таких ситуациях и теперь хотим запустить проект «Первое
                    приданое».</p>
                <p>Перед рождением ребенка, мамы собирают все необходимое для малыша, что может
                    понадобиться в первое время. Вот и мы решили теперь собирать «приданное» для
                    новорожденных в роддом, мамы которых, в силу определенных обстоятельств, не могут
                    сами подготовить необходимые вещи малышу в роддом. А некоторые мамы идут рожать,
                    с уверенностью, написать отказ после рождения, и если мам все-таки удается уговорить,
                    не писать этот ужасный отказ, то часто новоиспеченным мамочкам просто не во что одеть
                    ребенка.</p>
                <p>Иногда такие, как нам кажется, нелепые причины являются большой составляющей
                    решения мамы «забрать или оставить»!</p>
                <p>Поддержать данную программу вы можете, перечислив пожертвования на покупку
                    первых наборов для малышей, либо сами сформировать свой набор и передать в фонд для
                    мам. Все наборы передаются мамам в роддома.</p>
                <div class="btn">
                    <a href="">Получить помощь</a>
                </div>
            </div>
        </div>