<div class="themHelp">
            <div class="wrapper">
                <div class="text">Кризисные центры для мам</div>
            </div>
        </div>

        <div class="ProgrammContent">
            <div class="wrapper">
                <p>При поступлении в кризисный центр решаются экстренные проблемы, связанные с оказанием юридических, психологических, медицинских услуг.</p>
                <p>Живя в центре, женщина вместе со специалистами работает над развитием своей родительской компетенции, восстановлением социальных связей с родственниками, получением профессиональных навыков, поиском работы, восстановлением документов, оформлением положенных пособий, льгот, получением места в детском саду, поиском жилья.</p>
                <p>По мере решения социальных и жизненно важных проблем, а так же преодоления кризисной ситуации, мамы начинают жить самостоятельно вне стен кризисного центра. </p>
                <p>Исходя из практики нашей работы, количество беременных женщин и молодых мам в трудной жизненной ситуации увеличивается. Реализовывая программу открытия кризисных центров, Фонд поможет эффективнее решить вопросы социального сиротства, профилактики абортов, профилактики отказов, а так же социальной поддержке многодетных семей, малоимущих семей, матерей одиночек.</p>
                <div class="mainText">
                    <p class="aim"> Цель программы:</p>
                    <ul>
                        <li>предотвращение отказов от новорожденных</li>
                        <li>оставление детей в медицинских и иных государственных учреждениях из-за тяжелой жизненной ситуации: отсутствия жилья, работы, средств к существованию</li>
                    </ul>
                </div>
                <div class="btn">
                    <a href="">Получить помощь</a>
                </div>
            </div>
        </div>