 <div class="themHelp">
            <div class="wrapper">
                <div class="text">Здоровое детство</div>
            </div>
        </div>

        <div class="ProgrammContent">
            <div class="wrapper">
                <p>В ходе нашей работы  мы часто встречаем в различных уголках Приуралья  семьи,  в которых есть больные детки.  Зачастую в отдаленных районах  нет возможности оказать ребенку полноценную квалифицированную помощь и провести диагностику с использованием современного медицинского оборудования. Ребенок получает терапию в местных поликлиниках или фельдшерских пунктах, а в некоторых деревнях и селах детских врачей вовсе нет.  Оставаясь один на один с недугом своего ребенка, мама просто не знает,  что ей делать и куда ехать за помощью.  А иногда для семьи не представляется возможным приехать за консультацией и лечением не только в столичные клиники, но и в большой город.  В  целях  оказания своевременной помощи создается бригада врачей ведущих детских клиник Башкирии. </p>
                <div class="mainText">
                    <p class="aim"> Цель программы:</p>
                    <ul>
                        <li>дать возможность каждому ребенку получить своевременное, достойное медицинское обслуживание.<br> Многие болезни успешно лечатся и поддаются реабилитации именно на ранней стадии.</li>
                        <li>Организовать в разных уголках Приуралья  выездные комплексные обследования маленьких пациентов и определить дальнейшее их лечение и реабилитацию.</li>
                    </ul>
                </div>
                <div class="mainText">
                    <p class="aim"> Задачи:</p>
                    <ul>
                        <li>помочь родителям как можно раньше выявить недуг их малыша и получить своевременное медицинское лечение и реабилитацию</li>
                        <li>Помочь в организации комплексных осмотров детей в районах Башкирии</li>
                        <li>Стать попечителем конкретного больного ребенка</li>
                        <li>Поддержать работу  программы, перечислив пожертвования на счет фонда</li>
                    </ul>
                </div>
                <div class="mainText">
                    <p class="aim">Чем вы можете помочь работе данной программы:</p>
                    <ul>
                        <li>Помочь в сборе средств на лечение либо медикаменты конкретному ребенку</li>
                        <li>Помочь в организации комплексных осмотров детей в районах Башкирии</li>
                        <li>Стать попечителем конкретного больного ребенка</li>
                        <li>Поддержать работу  программы, перечислив пожертвования на счет фонда</li>
                    </ul>
                </div>
                <div class="btn">
                    <a href="">Получить помощь</a>
                </div>
            </div>
        </div>