      <div class="themHelp">
            <div class="wrapper">
                <div class="text">Они очень нуждаются в вашей помощи</div>
            </div>
        </div>
<%= render @posts %>
<%= paginate @posts %>

