




        <div class="slogan">

            <div class="text">
                <div>Пусть мы не сможем помочь всем,<br>кому бы нам хотелось <br> но мы поможем намного больше, чем те,<br>кто даже не пытался !</div>
            </div>
        </div>
        <div class="stat">
            <div class="wrapper">
                <div class="container">
                    <div class="item">
                        <div class="head">
                            118000
                        </div> 
                        <div class="text">
                            детей сирот - тогда, как на очередь по усоновлению всего 16500 будущих родителей.
                        </div>
                    </div>
                    <div class="item">
                        <div class="head">
                            90000
                        </div> 
                        <div class="text">
                            детей нуждающихся в дорогостоящем лечении и помощи в реабилитации.
                        </div>
                    </div>
                    <div class="item">
                        <div class="head">
                            15%
                        </div> 
                        <div class="text">
                            всех детей страны, нуждаются в вашей поддержке
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="help">
            <div class="wrapper">
                <div class="text">Помогите прямо сейчас</div>
                <div class="btn"><span>Хочу помочь <%= image_tag('heart.png', :alt => "heart") %></span></div>

            </div>
        </div>


