      <div class="themHelp">
            <div class="wrapper">
                <div class="text">Нашими общими усилиями, мы подарили шанс на здоровое детство</div>
            </div>
        </div>
<%= render 'post' %>
<%= paginate @posths %>
