<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Филатов Никита - веб разработчик</title>
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=0.8" >
    </head>
    <body>
        <!--
        <div class="debug">
            <div>
                <div>
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
        -->
        <div class = "menuS">
            <div class = "menu_btn"></div>
            <div class = "podl"></div>
            <div class = "container">
                <div class = "menu_btn"></div>
                <div class = "option">
                    <div class="text">Благотворительный фонд <br> &laquo;Поможем вместе&raquo;</div>
                    <ul>
                        <li><a href = "#">Главная</a></li>
                        <li><a href = "#">О фонде</a></li>
                        <li><a href = "#">Программы</a></li>
                        <li><a href = "#">Им нужна помощь</a></li>
                        <li><a href = "#">Помогли вместе</a></li>
                        <li><a href = "#">Новости</a></li>
                        <li><a href = "#">Хочу помочь</a></li>
                        <li><a href = "#">Контакты</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <header>
            <div class="wrapper">
                <div class="container">
                    <div class="logo">
                        <a href = ""><img src="img/logo.JPG" alt=""/></a>
                    </div>
                    <div class="btn">
                        Стать волонтером
                    </div>
                </div> 
            </div>
        </header>

        <nav>
            <div class="wrapper">
                <ul>
                    <li><a href="">Главная</a></li>
                    <li><a href="">О фонде</a></li>
                    <li><a href="">Программы</a></li>
                    <li><a href="">Им нужна помощь</a></li>
                    <li><a href="">Помогли вместе</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Хочу помочь</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </nav>
      
        <div class="themHelp">
            <div class="wrapper">
                <div class="text">Новости</div>
            </div>
        </div>
        <div class="children">
            <div class="wrapper">
                <div class="container news">
                    <div class="item">
                        <div class="foto">
                              <img src="img/maxresdefault.jpg" alt=""/>
                        </div>
                        <div class="gray_block">
                            <div class="name">
                                Исмакова Анна
                            </div>
                            <div class="discription">
                                Анна нуждается в вашей помощи уже очень долгое время, <br>
                                она очень активная и смелая и очень хочет стать олимпиской чемпионкой.
                                Анна нуждается в вашей помощи уже очень долгое время, <br>
                                она очень активная и смелая и очень хочет стать олимпиской чемпионкой.
                                
                            </div>
                        </div>
                        <a class="green_block" href = "#">
                            Читать далее
                        </a>
                    </div>
                       <div class="item">
                        <div class="foto">
                              <img src="img/maxresdefault.jpg" alt=""/>
                        </div>
                        <div class="gray_block">
                            <div class="name">
                                Исмакова Анна
                            </div>
                            <div class="discription">
                                Анна нуждается в вашей помощи уже очень долгое время, <br>
                                она очень активная и смелая и очень хочет стать олимпиской чемпионкой.
                            </div>
                        </div>
                        <a class="green_block" href = "#">
                            Читать далее
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer>  
            <div class="wrapper">
                <div class="menu">
                    <ul>
                        <li><a href="">Главная</a></li>
                        <li><a href="">О фонде</a></li>
                        <li><a href="">Программы</a></li>
                        <li><a href="">Им нужна помощь</a></li>
                        <li><a href="">Помогли вместе</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">Хочу помочь</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>

                </div>
                <div class="contacts">
                    <div class="container">
                        <div class="info">
                            <ul>
                                <li>Email: <a href = "mailto:1@mail.ru">fond-blag@fond.ru</a></li>
                                <li>Адрес: 450000 Г.Уфа ул.Кольцевая 156-6</li>
                                <li>Телефон: 8(987)-355-35-35</li>
                            </ul>
                        </div>
                        <div class="social"></div>
                    </div>
                </div>
                <div class="copyright">Благотворительный фонд &laquo;Вместе поможем&raquo; 2017</div>
            </div>
        </footer>
        <script src="js/jquery-3.2.0.min.js"></script>
        <script src="js/fnmenu.jquery.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
